extends layout

block content

  h1 Reader: #{reader.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Books:

    ul
        each book in reader.books
            li 
             a(href=reader.book) #[strong #{book.title}]
             p #[strong Summary:] #{book.summary}
             p #[strong id:] #{book.id}